.navBar {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  background-color: #1895f5;
  display: flex;
  justify-content: center;
}

.navBar > .topNav {
  width: 100%;
  justify-content: center;
  display: flex;
  color: white;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 3px;
}

.navBar > .topNav > div {
  border-style: solid;
  margin: 3px;
  border-width: 0 1px 0 0px;
  border-color: rgba(255, 255, 255, 0.15);
}

.topNav .searchNav {
  width: 95%;
  outline: none;
  padding: 15px;

  padding-right: 80px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.topNav > .iconNav {
  padding: 10px 8px 10px 8px;
  display: flex;
  flex-direction: column;
}

.searchBox {
  position: relative;
  width: 100%;
  max-height: 41px;
  display: flex;
  flex: auto;
}

.searchIcon {
  position: absolute;
  right: 1px;
  top: 1px;
  background-color: #1895f5;
  border-radius: 5px;
  padding: 5px 10px;
}

.cartCount {
  vertical-align: top;
  position: absolute;
  top: 1px;
  margin-left: 18px;
  color: white;
  background-color: #d83c2d;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  pointer-events: none;
}

.logoImage {
  max-width: 250px;
  width: 100%;
  margin-top: 10px;
  margin-right: 30px;
}

@media (max-width: 425px) {
  .logoImage {
    max-width: 180px;
  }
}
